html, body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

   .page {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ensure items stack vertically */
    padding-bottom: 100px; /* Add padding to create space for the footer */
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 610px; /* Adjust as needed */
    /* max-width: 630px; Example max-width */
    height: auto;
    box-sizing: border-box;
    border-radius: 16px;
    border: 2px solid #070F2B;
    padding: 50px 0 ;
    margin-top: 50px;
    flex-direction: column; /* Ensure items stack vertically */
  }
  
  .university,
  .course,
  .skills,
  .opportunities {
    width: 530px;
    height: auto;
    margin: 10px 0; /* Adjust margin as needed */
  }
  
  
  
  
  
  .university h2, .course h2, .skills h2 {
    color: #070F2B;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
    padding-bottom: 20px;
  }
  
  .university p, .course p,.skills p{
    color: #35346B;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 530px;
    padding-bottom: 20px;
  }
  
  
  .university select {
    width: 530px;
    height: 65px;
    flex-shrink: 0;
    border: 2px solid #35346B;
    opacity: 0.4;
    color: #35346B;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 15px;
    transition: opacity 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  .course select {
    width: 530px;
    height: 65px;
    flex-shrink: 0;
    border: 2px solid #35346B;
    opacity: 0.4;
    color: #35346B;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 15px;
    transition: opacity 0.3s, color 0.3s;
    cursor: pointer;
  }
  
  
  .university .next {
    margin-top: 50px;
    width: 530px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 6px;
    background: linear-gradient(90deg, #070F2B 0%, #9290C3 100%);
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border: none;
    line-height: normal;
    cursor: pointer;
  }
  
  .university .back {
    margin-top: 20px;
    width: 530px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 6px;
    color: #535C91;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 2px solid rgba(53, 52, 107, 0.4);
    cursor: pointer;
  }
  
  .course .next {
    margin-top: 50px;
    width: 530px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 6px;
    background: linear-gradient(90deg, #070F2B 0%, #9290C3 100%);
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border: none;
    line-height: normal;
    cursor: pointer;
  }
  
  .course .back {
    margin-top: 20px;
    width: 530px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 6px;
    color: #535C91;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 2px solid rgba(53, 52, 107, 0.4);
    cursor: pointer;
  }
  
  /* Skills */
  
  .skills input[type="text"] {
    width: 530px;
    height: 65px;
    box-sizing: border-box;
    flex-shrink: 0;
    border: 2px solid #35346B;
    opacity: 0.4;
  }
  
  .skills ul {
    width: 550px;
    max-height: 600px;
    box-sizing: border-box;
    overflow-y: auto;
    /* height: auto; */
    margin-top: 50px;
    list-style-type: none;
    padding: 120px 0 0 0;
    
  }
  
  .skills ul li {
    width: 530px;
    height: 155px;
    box-sizing: border-box;
    flex-shrink: 0;
    border: 1.5px solid #070F2B;
    margin-bottom: 20px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
  }
  
  .skills ul li .dir {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px; 
  }
  
  .skills ul li img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 20px;
  }
  
  .skills ul li h2 {
    width: 243px;
    color: #070F2B;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
    margin: 0; /* Reset margin */
  }
  
  .skills ul li p {
    width: 490px;
    color: #35346B;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
    margin: 0; /* Reset margin */
  }
  
  
  .skills ul li:hover {
    background-color: #9290C3;
  }
  
  
  .skills ul li.selected {
    background: linear-gradient(90deg, #070F2B 0%, #9290C3 100%);
    color: #FFF;
  }

  .skills ul li.selected img,
.skills ul li.selected h2,
.skills ul li.selected p {
  color: #FFF; /* Change text color to white */
}

.skills ul li.selected img {
    filter: brightness(0) invert(1); /* Invert colors to make image white */
  }

  
  .skills .next {
    margin-top: 50px;
    width: 530px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 6px;
    background: linear-gradient(90deg, #070F2B 0%, #9290C3 100%);
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    border: none;
    line-height: normal;
    cursor: pointer;
  }
  
  .skills .back {
    margin-top: 20px;
    width: 530px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 6px;
    color: #535C91;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 2px solid rgba(53, 52, 107, 0.4);
    cursor: pointer;
  }
  
  
  /* Opportunities */
  
  .opportunities > div {
    margin-bottom: 20px;
  }

  .opportunities h2{
    color: #070F2B;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 26px */
padding-bottom: 20px;
  }

  .opportunities p {
font-size: 18px;
padding-bottom: 20px;
color: #35346B;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .opportunities .h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 3%;
    color: #070F2B;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .opportunities .level .p {
    color: #35346B;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin:  0 3% 0% 3%;
  }
  
  .toggle-arrow {
    position: relative;
  }
  
  .toggle-arrow::before {
    content: ''; /* Ensures the arrow is styled */
  }
  
  .toggle-arrow::after {
    content: '{showHighOpportunities ? '▼' : '▶'}';
  }
  
  .opportunities .level {
    padding: 2% 2% 2% 2% ;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-shrink: 0;
    border: 1.5px solid #070F2B;
    background: #FFF;
  }
  
  ul {
    list-style: none;
    padding: 2%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  li {
    width: 100%;
    height: 151px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    position: relative;
    align-items: flex-start;  
    border: 1px solid #101010;
    margin-bottom: 20px;
    /* background-color: aqua; */
  }
  

li .img {
  margin-left: 10px;
  width: 58px;
  height: 49px;
  flex-shrink: 0;
  position: absolute;
  top: 50%;  /* Added */
  transform: translateY(-50%);  /* Added to center the image vertically */
}
  
  .opp-details {

    display: flex;
    height: auto;
    position: absolute;
    top: 50%;  /* Added */
    transform: translateY(-50%);  /* Added to center the image vertically */
    flex-direction: column;
    margin-left: 20%;
  }
  
  .company {
    margin-bottom: 10px;
    /* background-color: aqua; */
  }
  
  .company h2 {
    margin: 0;
    color: #101010;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  
  .company p {
    color: #35346B;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
    padding-bottom: 5px;
  }
  

   .social-media {
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.social-media .linkedin {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0 40px 0 0;
    position: relative;
}

.social-media .website {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    position: relative;
}

.social-media .img {
    width: 24px;
    height: 24px;
    margin-left: -3px;
    margin-top: -10px;
}

.social-media p {
    margin-left: 30px;
    color: #35346B;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

  .social-media a {
    text-decoration: underline;
    color: #35346B;
  }
  
  .social-media a:hover {
    text-decoration: underline;
    
  }
  
  
  .opportunities .back {
    margin-top: 20px;
    width: 530px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 6px;
    color: #535C91;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 2px solid rgba(53, 52, 107, 0.4);
    cursor: pointer;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  flex-shrink: 0;
  border-radius: 57px;
  opacity: 0.6;
  background: #D4D4D4;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    flex-shrink: 0;
    border-radius: 57px;
    background: #FFF;
    border: 4px solid #D4D4D4;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    width: 9px;
    background: #FFF;
    
  }